{% extends "layout.html" %}
{% block body %}
    <div class="container">
    <div class="page-header"></div>
        <div align="center">
        <table border="1">
            <tr>
                <td>
                    <b>Campaign</b>
                </td>
                <td>
                    <b>Details</b>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Code:</b>
                </td>
                <td>
                    {{ show.get_campaign().get_id() }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Gender:</b>
                </td>
                <td>
                    {{ show.get_campaign().get_gender() }}
                </td>
            </tr>
            <tr>
                <td>
                    <b>Type:</b>
                </td>
                <td>
                    {{ show.get_campaign().get_type_faces() }}
                </td>
            </tr>
        </table>
<br>
<div class="media">
    <a href="{{ url_for('frontend.show_album', campaign_id= show.get_campaign().get_id()) }}">
        <img src="{{ url_for('frontend.get_image', album=show.get_campaign().get_age(), size=400, filename=show.data['files'][0]) }}" border="5" />
    </a>
    <div class="media-body">
        <h4>* Please remember to vote according to the selected campaign, considering the gender and age.</h4>
        <h4 class="media-heading"><a href="{{ url_for('frontend.show_album', campaign_id=show.get_campaign().get_id()) }}">Album {{ show.get_campaign().get_age() }} year-old</a> ({{ session['total_images'] }} photos)</h4>
    </div>
</div>
</div>
</div>
{% endblock %}