{% extends "layout.html" %}
{% block body %}
<h3>Campaign</h3>
<table class="campaigns">
    <thead>
        <tr>
            <th>Id</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Type Faces</th>
        </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{ campaign.get_id() }}</td>
        <td>{{ campaign.get_age() }}</td>
        <td>{{ campaign.get_gender() }}</td>
        <td>{{ campaign.get_type_faces() }}</td>
    </tr>
    </tbody>
</table>
{% endblock %}