{% extends "layout.html" %}
{% block body %}

    <p>
    * The number of photos left are not completely accurate or not available, they are updated every midnight (GMT 0).
        However, you can update the info by pressing "Update" but the process takes between 3 to 5 minutes.
        For a specific number of photos left, please visit the related campaign.
    </p>
    <p>
        <a href="{{ url_for('frontend.update_number_images')}}">Update</a>
    </p>



    <table class="campaigns">
        <caption><b>Campaigns Available</b></caption>
        <tr>
            <th>#</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Number Photos Left</th>
            <th>Type</th>
            <th>Last Access</th>
        </tr>

        {% for row in campaigns %}
            <tr>
                <td> {{ loop.index }} </td>
                <td>
                    <a href="{{ url_for('frontend.show_album_gallery', campaign_id = row['_id']) }}">
                        {{ row['age'] }}
                </a>
                </td>
                <td>
                    {{ row['gender'] }}
                </td>

                <td>
                    {{ row['number_images'] if row['number_images'] != None else 'Not Available' }}
                </td>

                <td>
                    {{ row['type_faces'] }}
                </td>
                <td>
                    {{ row['last_access'] }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}