{% extends "layout_showoff.html" %}
{% block title %} Gender Inaccurate - VisAGe{% endblock %}
{% block posthead %}
    <div class="navbar">

        <a href="{{ url_for('frontend.index') }}" title="Home">Home</a>
        <a href="{{ url_for('frontend.resolve_gender_inaccurate', campaign_id=campaign.get_id())}}" title="Resolve" class="confirmation">Resolve</a>
        <a href="{{ url_for('frontend.logout') }}" title="Logout">Logout</a>


        <div style="color: white; float: right;">
            <table>
                <tr>
                    <td>
                        <b>Age :</b> {{ campaign.get_age()}}
                    </td>
                    <td width="100">
                    </td>
                    <td>
                        <b> Gender :</b>
                        <label id="gender_campaign">{{ campaign.get_gender() }}</label>
                    </td>
                    <td width="100">
                    </td>
                    <td>
                        <b>Type :</b>
                        <label id="faces_campaign">{{ campaign.get_type_faces() }}</label>
                    </td>
                    <td width="100">
                    </td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}

{% block body %}

    {% if tuple_gender_inaccurate_files|length >0 %}
        <p> *If the image is valid, please specify the appropriate gender</p>
    {% endif %}

    <div>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% for filename, gender in tuple_gender_inaccurate_files %}
            <div id="div_{{ filename }}" class="gallery thumbnail published">
                <div>
                    <table>
                        <tr>
                            <td>
                                <a id="btn_gender_{{ filename }}" href="#" class="toggle-gender" title="gender"
                                   data-filename="{{ filename }}"
                                   data-value="{{ gender }}"
                                   data-faces="{{ campaign.get_type_faces() }}"
                                ></a>
                            </td>
                        </tr>
                    </table>

                    <a target="_blank" href="{{ url_for('frontend.image_page', campaign_id=campaign.get_id(), filename=filename, gender_edit=False) }}" title="more information and sizes">
                        <img src="{{ url_for('frontend.get_image', album=campaign.get_age(), filename=filename, size=config.THUMBNAIL_SIZE) }}" alt="{{ filename }}"/>
                    </a>
                </div>
            </div>
        {% endfor %}
</div>
{% endblock %}

{% block postfooter %}
<script type="text/javascript">
    $(document).ready(function() {
    var cfg = {
        'base_url': '{{ url_for('frontend.toggle_resolve', album=campaign.get_id()) }}'
    };

        {#var images = [ {% for filename in all_files %}'{{ filename }}'{% if not loop.last %}, {% endif %}{% endfor %} ];#}

        var images = []

    SHOWOFF.init(cfg, images);
    });

    var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('Are you sure?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }

</script>
<script src="{{ url_for('frontend.static_files', filename='showoffuser.js') }}"></script>
{% endblock %}