{% block title %}Filename: {{ filename }}{% endblock %}
{% block body %}

    <p>
    <label>Album: {{ album }}</label>
    </p>

    <p>Available image sizes:
        {% for size in config.ALLOWED_SIZES %}
            {% if size != 'full' %}
                <a href="{{ url_for('frontend.get_image', album=album, size=size, filename=filename) }}">{{ size }}</a>
            {% else %}
                <a href="{{ url_for('frontend.get_image', album=album, filename=filename, size='full') }}">{{ size }}</a>
            {% endif %}

            {% if not loop.last %}
            {% endif %}
        {% endfor %}

    <a href="{{ url_for('frontend.rotate', album=album, filename=filename) }}"><img src="{{ url_for('frontend.static_files', filename='repeat_arrow.png') }}"></a>

    </p>

    <img src="{{ url_for('frontend.get_image_face', album=album, filename=filename)}}" alt="{{ filename }}" height="auto" width="100%"/>

    {% if gender_edit %}
        <table width="100%">
        <tr>
            <td>
                   <a class="button confirmation" href={{ url_for('frontend.change_gender', filename=filename) }}>(Click here if gender is incorrect...)</a>
            </td>
            <td>
                    <a class="button confirmation" href={{ url_for('frontend.delete_image', filename=filename) }} >(Click here if you want to permanently delete the photo...)</a>
            </td>
        </tr>
        </table>
    {% endif %}

    <p>
        Title: {{ title }}
    </p>

    <p>
        Description: {{ description }}
    </p>

    <p>
        Metadata date download: {{ date_metadata }}
    </p>

    <p>

    Tags:

    <table border="1">
            {% for item in tags %}
                <tr><td>{{ item }}</td></tr>
            {% endfor %}
    </table>

    </p>

    <p>
        FLICKR URL: <a href="{{ url }}">{{ url }}</a>
    </p>
    <script src="{{ url_for('frontend.static_files', filename='showoffuser.js') }}">
    </script>

    <script>
    var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('Are you sure?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }
    </script>
{% endblock %}