{% extends "layout.html" %}
{% block body %}
    <h3>Welcome to Visage</h3>

    {% if session['logged_in'] %}
        <p>Please click on the campaign links or query your choice and press <b>GO:</b></p>
    {% else %}
        <p>Please login if you have an existing account or register.</p>
    {% endif %}

    <div align="center">
    {% if session['logged_in'] %}

        <form action="{{ url_for('frontend.show_album_gallery', campaign_id=-1) }}" method="post">
            <div>
                <table border="1">
                    <caption><b>Query</b></caption>
                    <tr>
                        <td>
                            <b>Age:</b><br>
                            <input title="age" type="number" value="1" name="campaign_age" min="0" max="120">
                        </td>
                        <td>
                            <b>Gender:</b><br>
                            <input title="both" type="radio" name="campaign_gender" value="both" disabled> Both<br>
                            <input title="male" type="radio" name="campaign_gender" value="male" checked> Male<br>
                            <input title="female" type="radio" name="campaign_gender" value="female"> Female
                        </td>
                        <td>
                            <b>Type Faces</b>:<br>
                            <input title="single" type="radio" name="campaign_type_faces" value="single" checked> Single<br>
                            <input title="multiple" type="radio" name="campaign_type_faces" value="multiple"> Multiple<br>
                            <input title="others" type="radio" name="campaign_type_faces" value="others"> Other
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <input type="submit" value="GO" class="navbutton">
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        <br>
        <br>
        <table class="campaigns">
            <caption><b>Latest Campaigns accessed</b></caption>
            <tr>
                <th>Age</th>
                <th>Gender</th>
                <th>Type</th>
                <th>Last Access</th>
            </tr>

            {% for row in campaigns %}
                <tr>
                    <td>
                        <a href="{{ url_for('frontend.show_album_gallery', campaign_id = row['_id']) }}">
                            {{ row['age'] }}
                    </a>
                    </td>
                    <td>
                        {{ row['gender'] }}
                    </td>
                    <td>
                        {{ row['type_faces'] }}
                    </td>
                    <td>
                        {{ row['last_access'] }}
                    </td>
                </tr>
            {% endfor %}
        </table>

    {% endif %}
    </div>
{% endblock %}