<!DOCTYPE html>
<html lang="en">
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{% block title %}{{ config.TITLE }}{% endblock %}</title>
            <link rel="stylesheet" href="{{ url_for('frontend.static_files', filename='bootstrap/css/bootstrap.min.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ url_for('frontend.static_files', filename='style.css') }}" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}

        <div style="background-color: #3c3c3c">
        {% block posthead %}

        {% endblock %}
        </div>

        {% block body %}

        {% endblock %}

        <div class="container">
            <div class="footer">
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('frontend.static_files', filename='jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('frontend.static_files', filename='bootstrap/js/bootstrap.min.js') }}"></script>
        {% block postfooter %}{% endblock %}
</html>
