<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VisAGe</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ url_for('frontend.static_files', filename='bootstrap/3.3.7/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('frontend.static_files', filename='style.css') }}" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <style>
            body {
                padding-top: 70px;
            }

            .navbar-template {
                padding: 40px 15px;
            }

        </style>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('frontend.index') }}">Home</a></li>

                        {% if not session['logged_in'] %}
                            <li>
                                <a href="{{ url_for('frontend.login')}}" title="Login">Login</a>
                            </li>
                            <li>
                                <a href="{{ url_for('frontend.register')}}" title="Register">Register</a>
                            </li>
                        {% else %}

                            <li>
                                <a href="{{ url_for('frontend.campaigns')}}">Campaigns</a>
                            </li>

                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Statistics <b class="caret"></b></a>

                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('frontend.statistics', statistics_type='general')}}">General</a></li>
                                    <li><a href="{{ url_for('frontend.statistics', statistics_type='general_per_age')}}">Processed per Age</a></li>
                                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" >Age Range Votes<b
                                            class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ url_for('frontend.statistics_positives', votes=3)}}">Positives</a></li>
                                            <li><a href="{{ url_for('frontend.statistics', statistics_type='missing')}}">Missing</a></li>
                                            <li><a href="{{ url_for('frontend.statistics', statistics_type='disagreed')}}">Disagreed</a></li>
                                            <li><a href="{{ url_for('frontend.statistics', statistics_type='gender_inaccurate')}}">Gender Inaccurate</a></li>
                                            <li><a href="{{ url_for('frontend.statistics', statistics_type='age_range')}}">Detailed</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="{{ url_for('frontend.statistics', statistics_type='users')}}">Users</a>
                                    </li>

                                </ul>

                            </li>

                             <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Positive Votes<b class="caret"></b></a>

                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('frontend.statistics_positives', votes=1, my_vote=True)}}">My Votes</a></li>
                                    <li><a href="{{ url_for('frontend.statistics_positives', votes=1)}}">Our Votes</a></li>
                                    <li><a href="{{ url_for('frontend.statistics_positives', votes=3)}}">3 Votes</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Images<b class="caret"></b></a>

                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('frontend.search')}}">Search</a></li>
                                </ul>
                            </li>

                        {% endif %}
                    </ul>

                    {% if session['logged_in'] %}
                        <ul class="nav navbar-nav navbar-right">

                            {% if session['logged_in'] %}
                                <li><a class="text-muted">Hi {{ session['inputUsername'] }},</a></li>
                            {% endif %}

                            <li><a href="{{ url_for('frontend.logout')}}" title="Logout"><u>Logout</u></a></li>
                        </ul>
                    {% endif %}

                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>

        <div class="container">
            {% block body %}{% endblock %}
        </div><!-- /.container -->


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script
                src="https://code.jquery.com/jquery-3.1.1.js"
                integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
                crossorigin="anonymous"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="{{ url_for('frontend.static_files', filename='jscript.js') }}"></script>
    </body>
</html>
