{% extends "layout_showoff.html" %}
{% block title %} voting - VisAGe{% endblock %}
{% block posthead %}
    <div class="navbar">

        <a href="{{ url_for('frontend.index') }}" title="Home">Home</a>
        {% if show.get_campaign().get_type_faces() == 'single' %}
            <a href="{{ url_for('frontend.vote', campaign_id=show.get_campaign().get_id(), completed = session.get('completed')|int + show.data['files']|length)}}" title="Vote">Vote</a>
        {% else %}
            <a href="#" title="Not Available">Vote</a>
        {% endif %}
        <a href="{{ url_for('frontend.logout') }}" title="Logout">Logout</a>
        <a href="#" class="toggle-all" title="add/remove" data-value="yes"></a>

        <div style="color: white; float: right;">
        <table>
            <tr>
                <td>
                    <progress id="progressVote" value="{{ completed }}" max={{ session['total_images'] }} style="background:white"></progress></td>
                </td>
                <td width="100">
                </td>
                <td>
                    <b>Age :</b> {{ show.get_campaign().get_age()}}
                </td>
                <td width="100">
                </td>
                <td>
                    <b> Gender :</b>
                    <label id="gender_campaign">{{ show.get_campaign().get_gender() }}</label>
                </td>
                <td width="100">
                </td>
                <td>
                    <b>Type :</b>
                    <label id="faces_campaign">{{ show.get_campaign().get_type_faces() }}</label>
                </td>
                <td width="100">
                </td>
            </tr>
            <tr>
                <td>
                    <b>Completed :</b> {{ completed }}/{{ session['total_images'] }}
                </td>
                <td width="100">    </td>
                <td>
                    <b>User :</b> {{ session['inputUsername'] }}
                </td>
        </tr>
        </table>
    </div>
    </div>



{% endblock %}

{% block body %}
    <div>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% for filename in files %}
        <div id="div_{{ filename }}" class="gallery thumbnail {% if filename in show.data['files'] and filename not in show.data['removed'] %} published{% endif %}">
            <div>
                <table>
                    <tr>
                        <td>
                <a id="{{ filename }}" href="#" class="toggle-publish" title="add/remove"
                   data-filename="{{ filename }}"
                   data-value="{% if filename in show.data['files'] and filename not in show.data['removed'] %}yes{% else %}no{% endif %}"
                   data-faces="{{ dictionary_data[filename]['type_faces'] }}"></a>
                        </td>
                        <td width="50"></td>
                        <td>
                <a id="btn_gender_{{ filename }}" href="#" class="toggle-gender" title="gender"
                   data-filename="{{ filename }}"
                   data-value="{{ dictionary_data[filename]['gender'] }}"
                   data-faces="{{ dictionary_data[filename]['type_faces'] }}">
                </a>
                        </td>
                    <td width="50"></td>
                        <td>
                <a id="btn_faces_{{ filename }}" href="#" class="toggle-faces" title="faces"
                   data-filename="{{ filename }}"
                   data-value="{{ dictionary_data[filename]['type_faces'] }}">
                </a>
                        </td>
                    </tr>
                </table>



                <a target="_blank" href="{{ url_for('frontend.image_page', campaign_id=show.get_campaign().get_id(), filename=filename, gender_edit=False) }}" title="more information and sizes">
                    <img src="{{ url_for('frontend.get_image', album=show.get_campaign().get_age(), filename=filename, size=config.THUMBNAIL_SIZE) }}" alt="{{ filename }}"/>
                </a>
            </div>
        </div>

    {% endfor %}
</div>
{% endblock %}

{% block postfooter %}
<script type="text/javascript">
    $(document).ready(function() {
    var cfg = {
        'base_url': '{{ url_for('frontend.toggle_publish', album=show.get_campaign().get_id()) }}'
    };

    var images = [ {% for filename in all_files %}'{{ filename }}'{% if not loop.last %}, {% endif %}{% endfor %} ];

    SHOWOFF.init(cfg, images);
    });

</script>
<script src="{{ url_for('frontend.static_files', filename='showoffuser.js') }}"></script>
{% endblock %}