{% extends "layout.html" %}
{% block body %}
    <h1>Login</h1>
    <p>This is the Login page</p>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <div class="jumbotron">
        <form class="form-signin" method=POST action="{{ url_for('frontend.login') }}">
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="name" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required> 
            <button id="btnLogin" class="navbutton" type="submit">Login</button>
        </form>
    </div>
{% endblock %}