{% extends "layout.html" %}
{% block body %}
    <h1>Logout</h1>
    <p>This is the logout page</p>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
{% endblock %}