{% extends "layout_showoff.html" %}
{% block title %} Positive Resolved Votes - VisAGe{% endblock %}
{% block posthead %}
    <div class="navbar">
        <a href="{{ url_for('frontend.index') }}" title="Home">Home</a>
        <a href="{{ url_for('frontend.download', age=campaign.get_age(), gender=campaign.get_gender(), user_check=user_check, votes=votes) }}" title="Download">Download</a>
        <a href="{{ url_for('frontend.logout') }}" title="Logout">Logout</a>
    </div>
    <div style="color: white; float: right;">
    <table>
            <tr>
                <td>
                    Age : {{ campaign.get_age()}}
                </td>
                <td width="100">
                </td>
                <td>
                    Gender : {{ campaign.get_gender() }}
                </td>
                <td width="100">
                </td>
                <td>
                    TYPE: {{ campaign.get_type_faces() }}
                </td>
                <td width="100">
                </td>
            </tr>
        </table>
    </div>

{% endblock %}

{% block body %}
    <div>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}

        {% for filename in resolved %}
        <div class="gallery thumbnail published">
            <div>
                <a target="_blank" href="{{ url_for('frontend.image_page', campaign_id=campaign.get_id(), filename=filename, gender_edit=False) }}" title="more information and sizes">
                    <img src="{{ url_for('frontend.get_image', album=campaign.get_age(), filename=filename, size=config.THUMBNAIL_SIZE) }}" alt="{{ filename }}"/>
                    {{ loop.index }}
                </a>
            </div>
        </div>

    {% endfor %}
</div>
{% endblock %}

{% block postfooter %}
{% endblock %}