{% extends "layout.html" %}
{% block body %}
    <h1>Register</h1>
    <p>This is the register page</p>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}

    <div class="jumbotron">
        <form class="form-signin" method=POST action="{{ url_for('frontend.register') }}">
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="name" name="inputUsername" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
            <button id="btnSignUp" class="navbutton" type="submit">Sign up</button>
        </form>
    </div>
{% endblock %}