{% extends "layout.html" %}
{% block body %}

<form action="{{ url_for('frontend.search_id')}}" method="POST">
    <div>
        <table border="1">
            <caption><b>POSITIVE OR DISAGREED IMAGE ID</b></caption>
            <tr>
                <td>
                    <input type="search" name="search_id" maxlength="24">
                    <input type="submit" value="GO" class="navbutton">
                </td>
            </tr>
        </table>
    </div>
</form>

{% endblock %}