{% extends "layout.html" %}
{% block body %}
    <h3>Positive Votes for Single Faces
        {% if votes == 3 %}
            (3 Votes)
        {% elif votes == 1 and my_vote %}
            (My Vote)
        {% elif votes == 1 and not my_vote %}
            (Our Votes)
        {% endif %}
    </h3>

    <button class="accordion">Age Range {{ statistics.get_age_min(), statistics.get_age_max() }}</button>
    <div class="panel">
        <table class="campaigns">
            <thead>
                <tr>
                    <th>Age</th>
                    <th style="color:green" colspan="5">Voted Positively</th>
                </tr>
                <tr>
                    <th></th>
                    <th style="color:black">Total</th>
                    <th style="color:green">Total Male</th>
                    <th style="color:gray">Male Resolved</th>
                    <th style="color:green">Total Female</th>
                    <th style="color:gray">Female Resolved</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>Total:</td>
                     <td>{{ sums.get(votes_description) }}</td>
                    <td>{{ sums.get('votes_value_positive_male') }}</td>
                    <td>{{ sums.get('votes_value_positive_male_resolved') }}</td>
                    <td>{{ sums.get('votes_value_positive_female') }}</td>
                    <td>{{ sums.get('votes_value_positive_female_resolved') }}</td>
                </tr>
            </tfoot>
            <tbody>

                {% for i in range(statistics.get_age_min(), statistics.get_age_max() + 1) %}
                    <tr>
                        <td>{{ i }}</td>
                        <td style="font-weight: bold">
                            {{ table[i].get(votes_description) }}
                        </td>
                        <td style="color: green">
                            {% if table[i].get('votes_value_positive_male') != 0 %}
                                <a href="{{ url_for('frontend.positive', age=i, gender='male', votes=votes, my_vote=my_vote) }}">{{ table[i].get('votes_value_positive_male') }}</a>
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td style="color: gray">
                            {% if table[i].get('votes_value_positive_male_resolved') != 0 %}
                                <a href="{{ url_for('frontend.positive_resolved', age=i, gender='male', votes=votes, my_vote=my_vote) }}">{{ table[i].get('votes_value_positive_male_resolved') }}</a>
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td style="color: green">
                            {% if table[i].get('votes_value_positive_female') != 0 %}
                                <a href="{{ url_for('frontend.positive', age=i, gender='female', votes=votes, my_vote=my_vote) }}">{{ table[i].get('votes_value_positive_female') }}</a>
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td style="color: gray">
                            {% if table[i].get('votes_value_positive_female_resolved') != 0 %}
                                <a href="{{ url_for('frontend.positive_resolved', age=i, gender='female', votes=votes, my_vote=my_vote) }}">{{ table[i].get('votes_value_positive_female_resolved') }}</a>
                            {% else %}
                                0
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

{% endblock %}