{% extends "layout.html" %}
{% block body %}
    <h3>User Statistics for Single Faces</h3>
    <button class="accordion">Users</button>
    <div class="panel">
        <table class="campaigns">
            <thead>
                <tr>
                    <th>Campaign Id</th>
                    <th>Age</th>
                    <th>Gender</th>
                    {% for u in statistics.get_users() %}
                        <th>{{ u }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in statistics.get_campaigns() %}
                    <tr>
                        <td><a href="{{ url_for('frontend.campaign_description', campaign_id = row.get('id')) }}">{{ row.get('id') }}</a></td>
                        <td>{{ row.get('age') }}</td>
                        <td>{{ row.get('gender') }}</td>

                        {% set votes_users = statistics.get_votes_users() %}

                        {% for u in statistics.get_users() %}
                            <td>
                                {% set count_vote_user =  votes_users.get((u, row.get('id'))) %}
                                {% if count_vote_user  %}
                                    {{ count_vote_user.get('count') }}
                                {% else %} {{ 0 }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <td>Total:</td>
                    <td></td>
                    <td></td>
                    {% for u in statistics.get_users() %}
                        <td>{{ statistics.get_sum_user(u) }}</td>
                    {% endfor %}
                </tr>
            </tfoot>


        </table>
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

{% endblock %}