{% extends "layout.html" %}
{% block body %}
    <h3>General Statistics for Single Faces</h3>
    <button class="accordion">General</button>
    <div class="panel">
        <table>
            <tr>
                <td>Total Photos Metadata Available:</td>
                <td>{{ statistics.get_photos_metadata() }}</td>
            </tr>
            <tr>
                <td>Total Photos Downloaded:</td>
                <td>{{ statistics.get_photos_download() }}</td>
            </tr>
            <tr>
                <td>Total Photos Processed Azure:</td>
                <td>{{ statistics.get_photos_azure() }}</td>
            </tr>
        </table>
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

{% endblock %}