{% extends "layout.html" %}
{% block body %}
    <h3>Detailed Age Range Statistics for Single Faces</h3>

    <button class="accordion">Age Range {{ statistics.get_age_min(), statistics.get_age_max() }}</button>
    <div class="panel">
        <table class="campaigns">
            <thead>
                <tr>
                    <th>Age</th>
                    <th>Metadata</th>
                    <th>Downloaded</th>
                    <th colspan="2">Processed Azure</th>
                    <th style="color:green" colspan="3">Voted Positively</th>
                    <th style="color:gray">Missing Votes</th>
                    <th style="color: red" colspan="3">Disagreed Votes</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Total</th>
                    <th>Single Faces</th>
                    <th style="color:green">Total</th>
                    <th style="color:green">Male</th>
                    <th style="color:green">Female</th>
                    <th style="color:grey">Total</th>
                    <th style="color:red">Total</th>
                    <th style="color:red">Male</th>
                    <th style="color:red">Female</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>Total:</td>
                    <td>{{ sums.get('metadata') }}</td>
                    <td>{{ sums.get('downloads') }}</td>
                    <td>{{ sums.get('azure') }}</td>
                    <td>{{ sums.get('azure_single_faces') }}</td>
                    <td>{{ sums.get('votes_three') }}</td>
                    <td>{{ sums.get('votes_value_positive_male') }}</td>
                    <td>{{ sums.get('votes_value_positive_female') }}</td>
                    <td>{{ sums.get('votes_missing') }}</td>
                    <td>{{ sums.get('votes_disagreed') }}</td>
                    <td>{{ sums.get('votes_disagreed_male') }}</td>
                    <td>{{ sums.get('votes_disagreed_female') }}</td>
                </tr>
            </tfoot>
            <tbody>

                {% for i in range(statistics.get_age_min(), statistics.get_age_max() + 1) %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ table[i].get('metadata') }}</td>
                        <td>{{ table[i].get('downloads') }}</td>
                        <td>{{ table[i].get('azure') }}</td>
                        <td>{{ table[i].get('azure_single_faces') }}</td>
                        <td style="color: green">{{ table[i].get('votes_three') }}</td>
                        <td style="color: green">
                            {% if table[i].get('votes_value_positive_male') != 0 %}
                                <a href="{{ url_for('frontend.positive', age=i, gender='male', votes=3, files=table[i].get('images')) }}">{{ table[i].get('votes_value_positive_male') }}</a>
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td style="color: green">
                            {% if table[i].get('votes_value_positive_female') != 0 %}
                                <a href="{{ url_for('frontend.positive', age=i, gender='female', votes=3) }}">{{ table[i].get('votes_value_positive_female') }}</a>
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td style="color:grey">{{ table[i].get('votes_missing') }}</td>


                        <td style="color:red">{{ table[i].get('votes_disagreed') }}</td>

                        <td style="color:red">
                            {% if table[i].get('votes_disagreed_male') != 0 %}
                                <a href="{{ url_for('frontend.show_disagreed', age=i, gender='male') }}"> {{ table[i].get('votes_disagreed_male') }}</a>
                            {% else %}
                                0
                            {% endif %}
                        </td>


                        <td style="color:red">
                            {% if table[i].get('votes_disagreed_female') != 0 %}
                                <a href="{{ url_for('frontend.show_disagreed', age=i, gender='female') }}"> {{ table[i].get('votes_disagreed_female') }}</a>
                            {% else %}
                                0
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

{% endblock %}