{% extends "layout.html" %}
{% block body %}
    <h3>Missing Votes for Single Faces</h3>

    <button class="accordion">Age Range {{ statistics.get_age_min(), statistics.get_age_max() }}</button>
    <div class="panel">
        <table class="campaigns">
            <thead>
                <tr>
                    <th>Age</th>
                    <th style="color:gray">Missing Votes</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Total</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>Total:</td>
                    <td>{{ sums.get('votes_missing') }}</td>
                </tr>
            </tfoot>
            <tbody>

                {% for i in range(statistics.get_age_min(), statistics.get_age_max() + 1) %}
                    <tr>
                        <td>{{ i }}</td>
                        <td style="color:grey">{{ table[i].get('votes_missing') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }
    </script>

{% endblock %}